@import './global.css';


/* H E A D E R  */

.header {
  background-color: var(--primary-color);
  padding: var(--padding);
  color: white;
  text-align: center;
}


/* A B O U T */

.about {
  color: var(--secondary-color);
  font-family: var(--font-family);
  padding: var(--padding);
}